@import "../../../variables.scss";

.selected-spectro-section {
    width: 900px;
    background-color: $ligthGray2;
    display: flex;
    flex-direction: column;

    .up {
        display: flex;
        flex-direction: row;
        .range-probability{
            display: flex;
            margin: 10px;
            align-self: flex-end;
        }
        .marks {
            display: flex;
            flex-direction: column;
            position: relative;

            .mark-timeline {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 396.99px;
                min-height: 8px;
                background-color: #333333;

                .specie-mark {
                    position: absolute;
                    height: 8px;
                    cursor: pointer;

                    &:hover {
                        box-sizing: border-box;
                        border: solid;
                        border-color: rgba(255, 255, 255, 0.55);
                        border-width: 1.3px;
                        -webkit-transition: 0s;
                    }
                }
            }
        }

        .time {
            //      background-color: $mainDarkColor;
            height: 45px;
        }
    }

    .suggestions {
        display: flex;
        flex-direction: column;
        background-color: $semiWhite;

        .section-title-ai {
            background-color: $mainDarkColor;
        }
    }

    h1 {
        margin: 0.5rem;
        color: #53D470;
        font-size: 16px;
    }

    hr {
        border: 0.5px solid $mainActiveColor;
    }

    .down {
        display: -webkit-inline-box;
        //flex-direction: row;
        //flex-wrap: wrap;
        padding: 3px 0 3px 0;
        background-color: #E6E6E6;
        max-width: 910px;
        max-height: 215px;
        overflow-x: auto;

        .species-reel-section {
            display: flex;
            flex-direction: column;
        }

        .bird-suggest-section{
            display: flex;
            flex-direction: row;
            min-height: 200px;
            max-width: 910px;
            margin-bottom: 3px;
        }

        #sipia {
            padding: 3px;
            background-color: white;
            margin-right: 3px;
            height: 199px;
            max-width: 244.97px;

            .play-audio {
                display: none;
                position: absolute;
                top: 28%;
                right: 30%;
            }

            .exploreaction {
                display: none;
                position: absolute;
                top: 25%;
                left: 30%;
            }

            &:hover {
                transform: scale(1.01);

                .exploreaction {
                    display: inherit;
                    cursor: pointer;
                }

                .play-audio {
                    display: inherit;
                    cursor: pointer;
                }
            }
        }

        #hafferia {
            padding: 3px;
            background-color: white;
            margin-right: 3px;
            height: 199px;
            max-width: 244.97px;

            .play-audio {
                display: none;
                position: absolute;
                top: 28%;
                right: 30%;
            }

            .exploreaction {
                display: none;
                position: absolute;
                top: 25%;
                left: 30%;
            }

            &:hover {
                transform: scale(1.01);

                .exploreaction {
                    display: inherit;
                    cursor: pointer;
                }

                .play-audio {
                    display: inherit;
                    cursor: pointer;
                }
            }
        }

        .filtered-spectrogram {
            .filtered-title {
                padding: 3px;
                font-size: 13px;
                font-weight: 800;
                text-align: center;
                color: white;
                background-color: #333333;
            }

            img {
                width: 238px;
                border: solid 3px #333333;
                cursor: pointer;
            }

            p {
                margin: 10px;
                font-size: 13px;
                font-weight: 800;
                text-align: center;
            }
        }

        .suggestions-cont {
            display: flex;
            flex-direction: row;
            height: 199px;

            .specie-suggested {
                position: relative;
                margin: 0 3px 0 3px;
                padding: 3px;
                background-color: white;

                .play-audio {
                    display: none;
                    position: absolute;
                    top: 28%;
                    right: 30%;
                }

                .exploreaction {
                    display: none;
                    position: absolute;
                    top: 25%;
                    left: 30%;
                }

                &:hover {
                    transform: scale(1.01);

                    .exploreaction {
                        display: inherit;
                        cursor: pointer;
                    }

                    .play-audio {
                        display: inherit;
                        cursor: pointer;
                    }
                }

                .specie-card {
                    .percentage-title {
                        padding: 3px;
                        font-size: 13px;
                        font-weight: 800;
                        text-align: center;
                        color: white;
                    }

                    .spectrogram {
                        width: 238px;
                        cursor: pointer;
                    }

                    .specie-card-down {
                        margin: 5px;

                        .bird-info {
                            display: flex;
                            flex-direction: row;

                            .bird-photo {
                                width: 35px;
                                height: 35px;
                                margin-right: 10px;
                            }

                            .bird-text {
                                display: flex;
                                flex-direction: column;

                                .position-sci {
                                    display: flex;
                                    flex-direction: row;
                                    margin-bottom: 1px;

                                    .position {
                                        font-size: 15px;
                                        font-weight: 800;
                                    }

                                    .sci-name {
                                        font-size: 15px;
                                        font-weight: 800;
                                        font-style: italic;
                                        color: #828282;
                                    }
                                }

                                .common-name {
                                    font-size: 14px;
                                    font-weight: 800;
                                    margin-bottom: 10px;
                                }
                            }
                        }


                        p {
                            font-size: 12px;
                            font-weight: 800;
                        }
                    }
                }
            }
        }

    }
}