@import "../../../variables.scss";

.selected-spectro-section {
    width: 900px;
    background-color: $ligthGray2;
    display: flex;
    flex-direction: column;

    .up {
        .marks {
            display: flex;
            flex-direction: column;
            position: relative;

            .mark-timeline {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 396.99px;
                min-height: 8px;
                background-color: #333333;

                .specie-mark {
                    position: absolute;
                    height: 8px;
                    cursor: pointer;

                    &:hover {
                        box-sizing: border-box;
                        border: solid;
                        border-color: rgba(255, 255, 255, 0.55);
                        border-width: 1.3px;
                        -webkit-transition: 0s;
                    }
                }
            }
        }

        .time {
            //      background-color: $mainDarkColor;
            height: 45px;
        }
    }

    .suggestions {
        display: flex;
        flex-direction: column;
        background-color: $semiWhite;

        .section-title-ai {
            background-color: $mainDarkColor;
        }
    }

    h1 {
        margin: 0.5rem;
        color: #53D470;
        font-size: 16px;
    }

    hr {
        border: 0.5px solid $mainActiveColor;
    }

    .down {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3px 0 3px 0;
        background-color: #E6E6E6;

        #sipia {
            padding: 3px;
            background-color: white;
        }

        .filtered-spectrogram {
            .filtered-title {
                padding: 3px;
                font-size: 13px;
                font-weight: 800;
                text-align: center;
                color: white;
                background-color: #333333;
            }

            img {
                width: 220px;
                border: solid 3px #333333;
                cursor: pointer;
            }

            p {
                margin: 10px;
                font-size: 13px;
                font-weight: 800;
                text-align: center;
            }
        }

    }
}