.compare-section {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F9F9F9;
  padding: 1rem;
}

.compare-section .left {
  width: 30%;
  min-width: 400px;
  max-width: 500px;
  max-height: 400px;
}

.compare-section .left .line-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.compare-section .left .line-row img {
  margin: 0 0.2rem;
}

.compare-section .left h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 2.5rem;
}

.compare-section .left h3 {
  font-weight: 700;
  color: #44CD88;
  font-size: 16px;
}

.compare-section .left .circle-container {
  position: relative;
  margin: 2rem 0 0 0;
  position: relative;
  width: 16em;
  height: 13em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
}

.compare-section .left .circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0em;
  height: 0em;
  margin: 0em;
}

.compare-section .left .circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(-90deg) translate(7em) rotate(90deg);
          transform: rotate(-90deg) translate(7em) rotate(90deg);
}

.compare-section .left .circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(-30deg) translate(7em) rotate(30deg);
          transform: rotate(-30deg) translate(7em) rotate(30deg);
}

.compare-section .left .circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(30deg) translate(7em) rotate(-30deg);
          transform: rotate(30deg) translate(7em) rotate(-30deg);
}

.compare-section .left .circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(90deg) translate(7em) rotate(-90deg);
          transform: rotate(90deg) translate(7em) rotate(-90deg);
}

.compare-section .left .circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(150deg) translate(7em) rotate(-150deg);
          transform: rotate(150deg) translate(7em) rotate(-150deg);
}

.compare-section .left .circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(210deg) translate(7em) rotate(-210deg);
          transform: rotate(210deg) translate(7em) rotate(-210deg);
}

.compare-section .left .circle-container .micro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
}

.compare-section .left .circle-container .micro-btn img {
  height: 25px;
  margin: 1rem 0 0 0;
}

.compare-section .left .circle-container .micro-btn p {
  position: relative;
  top: -125%;
  font-weight: 600;
}

.compare-section .left .circle-container .micro-btn p.active {
  color: #333333;
}

.compare-section .left .circle-container .micro-btn p.disabled {
  color: #acacac;
}

.compare-section .left .circle-container .center {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.compare-section .left .circle-container .center img {
  width: 100%;
  height: auto;
}

.compare-section .right {
  width: 60%;
  min-width: 600px;
  max-height: 500px;
  background-color: white;
  border-radius: 9px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}
/*# sourceMappingURL=CompareAudiosA.css.map */