@import "./../../variables.scss";

.editor-cont {
    padding: 0.5rem;
    background-color: $ligthGray2;

    .editor-section {
        background-color: $ligthGray2;
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 446px;
        .left {
            width: 55%;
            background-color: $white;
            padding: 0.5rem;
            border-radius: 5px;

            img {
                width: 95%;
            }
        }

        .right {
            width: 43%;

            .color-atom,
            .contrast-atom {
                width: 100%;
                background-color: $white;
                padding: 0.7rem;
                display: flex;
                flex-direction: column;
                border-radius: 5px;

                p {
                    margin: 1rem 0;
                }
                .edit-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    h3 {
                        color: $mainActiveColor;
                    }

                    .close {
                        cursor: pointer;
                    }
                }
            }

            .color-atom {
                background-color: $white;

               
                .color-scale-option {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 42px;
                    margin: 0.25rem 0;

                    &:hover {
                        .dark-button {
                            display: inherit;
                        }
                        img {
                            opacity: 1;
                        }
                    }
                    .dark-button {
                        display: none;
                    }

                    img {
                        width: 65%;
                        height: 35px;
                        cursor: pointer;
                        opacity: 0.2;
                    }
                    &.selected {
                        img {
                            border: solid 3px $secondActiveColor;
                            opacity: 1;
                            transition: 0.2s
                        }
                        .dark-button {
                            display: none;
                        }
                    }
                    &.unselected {
                        .green-text {
                            display: none;
                        }
                    }
                }
            }
            .contrast-atom {
                .bcEditOption {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    p {
                        margin: 0 1rem 0 0;
                        width: 70px;
                    }
                    input {
                        width: 40px;
                        text-align: center;

                    }
                    .rc-slider {
                        width: 70%;
                    }
                }
            }

        }
    }
}