.spectro-editor-b {
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;
    padding: 10px;

    .duotone-filter {
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -999px;
    }

    .spectro-div {
        display: flex;
        flex-direction: column;

        .spectro {
            //filter: url(#duotone-1);
        }
    }

    .bright-cont-editor {
        background-color: #FFF;
        width: 400px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;

        .header-color-pick-mang {
            padding: 15px 0 15px 0;

            .title-button {
                display: flex;
                flex-direction: row;

                h2 {
                    color: #44CD88;
                    margin-left: 20px;
                }
            }

            p {
                margin-left: 20px;

            }
        }

        .circle-sliders {
            margin-left: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            .contrast-slider {
                margin-left: 15;
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    padding: 15px 0 15px 0;
                }
            }

            .bright-slider {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    padding: 15px 0 15px 0;
                }
            }
        }
    }

    .color-picker-div {
        background-color: #FFF;
        width: 400px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;

        .header-color-pick-mang {
            .title-button {
                display: flex;
                flex-direction: row;
                h2 {
                    color: #44CD88;
                    margin-left: 20px;
                }

                .act-btn {
                    margin-left: 5px;
                    background-color: #F4F4F4;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    cursor: pointer;
                    border: none;
                    text-decoration: none;
                    padding: 8px;
                }
            }

            p {
                margin-left: 20px;

            }

            padding: 15px 0 15px 0;
        }

        .btns-sel-spectro {
            margin-left: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            button {
                font-family: 'Lato', sans-serif;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                cursor: pointer;
                border: none;
                text-decoration: none;
                font-size: 15px;
                font-weight: 800;
                padding: 5px 10px 5px 10px;
            }
        }
    }
}