.spectro-editor-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F9F9F9;
  padding: 10px;
}

.spectro-editor-b .duotone-filter {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -999px;
}

.spectro-editor-b .spectro-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spectro-editor-b .bright-cont-editor {
  background-color: #FFF;
  width: 400px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.spectro-editor-b .bright-cont-editor .header-color-pick-mang {
  padding: 15px 0 15px 0;
}

.spectro-editor-b .bright-cont-editor .header-color-pick-mang h2 {
  color: #44CD88;
  margin-left: 20px;
}

.spectro-editor-b .bright-cont-editor .header-color-pick-mang p {
  margin-left: 20px;
}

.spectro-editor-b .bright-cont-editor .circle-sliders {
  margin-left: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spectro-editor-b .bright-cont-editor .circle-sliders .contrast-slider {
  margin-left: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spectro-editor-b .bright-cont-editor .circle-sliders .contrast-slider h3 {
  padding: 15px 0 15px 0;
}

.spectro-editor-b .bright-cont-editor .circle-sliders .bright-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spectro-editor-b .bright-cont-editor .circle-sliders .bright-slider h3 {
  padding: 15px 0 15px 0;
}

.spectro-editor-b .color-picker-div {
  background-color: #FFF;
  width: 400px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.spectro-editor-b .color-picker-div .header-color-pick-mang {
  padding: 15px 0 15px 0;
}

.spectro-editor-b .color-picker-div .header-color-pick-mang h2 {
  color: #44CD88;
  margin-left: 20px;
}

.spectro-editor-b .color-picker-div .header-color-pick-mang p {
  margin-left: 20px;
}

.spectro-editor-b .color-picker-div .btns-sel-spectro {
  margin-left: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spectro-editor-b .color-picker-div .btns-sel-spectro button {
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  padding: 5px 10px 5px 10px;
}
/*# sourceMappingURL=SpectroEditorB.css.map */