.header{
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    
    img{
        display: inline-block;
        height: 200px;;
    }

    h1{
        color: #61dafb;
        font-size: 3rem;
    }
}