@import "../../../variables.scss";

.gen-spectro-section {
    width: 100%;
    height: 50vh;
    background-color: $ligthGray2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .spectro-section {

        .time {
            background-color: $mainDarkColor;
            width: 949px;
            height: 40px;
        }

        .spectro-viz {
            margin: 0;
            height: 174.99px;
        }

        .marks {
            display: flex;
            height: 100px;
            position: relative;

            .mark-timeline {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 949px;
                height: 8px;
                background-color: #333333;

                .specie-mark {
                    position: absolute;
                    height: 8px;
                    cursor: pointer;

                    &:hover {
                        border: solid;
                        border-color: white;
                        border-width: 1px;
                        -webkit-transition: 0s;
                    }
                }
            }
        }
    }
}