@import "../../../variables.scss";

.gen-spectro-section {
    width: 100%;
    height: 50vh;
    background-color: $ligthGray2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .range-probability {
        display: flex;
        margin-bottom: 10px;
    }

    .spectro-section {

        .time {
            background-color: $mainDarkColor;
            width: 949px;
            height: 40px;
        }

        .spectro-viz {
            position: relative;
            margin: 0;
            height: 174.99px;

            .specie-rectangle {
                position: absolute;
                height: 174.99px;
                border: solid;
                border-width: 1px;
            }
        }

        .marks {
            display: flex;
            flex-direction: column;
            height: 100px;
            position: relative;

            .mark-timeline {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 949px;
                min-height: 8px;
                background-color: #333333;

                .specie-mark {
                    position: absolute;
                    height: 8px;
                    cursor: pointer;

                    &:hover {
                        box-sizing: border-box;
                        border: solid;
                        border-color: rgba(255, 255, 255, 0.55);
                        border-width: 1.3px;
                        -webkit-transition: 0s;
                    }
                }
            }

            .suggestion-cont {
                //background-color: #E6E6E6;
                -webkit-transition: 0.325s;
                transition-timing-function: ease-in-out;
                position: relative;
                display: flex;

                .mark-card {
                    position: absolute;
                    background-color: white;
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    -webkit-transition: 0.35s;
                    transition-timing-function: ease-in-out;

                    .bird-info-section {
                        display: flex;
                        flex-direction: row;
                        align-content: space-between;

                        .bird-photo-cont {
                            width: 40px;
                            height: 40px;
                            border-radius: 25px;
                            margin: 0 0 0.2rem 0;
                            margin-right: 10px;
                            overflow: hidden;
                            background-color: white;
                            border: solid 1.5px transparent;

                            img {
                                height: 40px;
                                width: 40px;
                                object-fit: cover;
                            }
                        }

                        .info-mark-card {
                            display: flex;
                            flex-direction: column;

                            .sci-and-percentage {
                                display: flex;
                                flex-direction: row;

                                h4 {
                                    font-size: 17px;
                                    font-weight: 900;
                                }

                                .sci-name {
                                    font-style: italic;
                                }
                            }

                            p {
                                font-size: 16px;
                            }
                        }
                    }

                    .card-btns {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .actions {
                            padding: 5px 0 5px 0;

                            button {
                                margin-right: 10px;
                            }
                        }

                        .explore {
                            button {
                                margin-left: 10px;
                            }
                        }

                        button {
                            cursor: pointer;
                            border-style: none;
                            background-color: rgba(255, 255, 255, 0);
                        }
                    }

                }
            }
        }
    }
}