section {
    background-color: white;
    position: relative;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #AFEA7D;
    padding: 1rem;
    h1 {
        margin: 0;
    }
}

.description-items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem ;
}

.input-row {
    &.search {
        justify-content: space-between;
        input {
            width: 50%;
        }
    }
}

.img-birds {
    cursor: pointer;
}

.spectro {
    cursor: pointer;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
}

.input-col {
    display: flex;
    flex-direction: column;
    &.search {
        justify-content: space-between;
        input {
            width: 50%;
        }
    }
}

.birds{
    margin-left: 10px;
}

.card-item {
    padding: 0.5rem 1rem;
}