* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');
@import "./variables.scss";
.undisplay {
    display: none;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        ;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $mainActiveColor;
    }

    .green-text {
        color: $mainActiveColor;
        font-weight: bold;
    }
    .yellow-text {
        color: $thirdActiveColor;
        font-weight: bold;
    }

    .sci-name-style {
        font-family: 'Lato', sans-serif;
        font-style: italic;

    }

    .bold {
        font-weight: bold;
    }

    h1 {
        font-size: 18px;
    }

    .tooltip {
        position: relative;
        &:hover .tooltiptext {
            display: inherit;
          }
        &:hover {
            .tooltiptextUp, .tooltiptext   {
                display: inherit;
            }
        }


        .tooltiptext {
            display: none;
            min-width: 120px;
            word-wrap: break-word;
            max-width: 210px;
            background-color: $mainDarkColor;
            color: $white;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            left: 50%;
            margin-left: -60px;
            top: 150%;



            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent $mainDarkColor transparent;
            }
        }

        .tooltiptextUp {
            display: none;
            min-width: 120px;
            word-wrap: break-word;
            max-width: 210px;
            background-color: $mainDarkColor;
            color: $white;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            left: 50%;
            margin-left: -60px;
            bottom: 150%;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $mainDarkColor transparent transparent  transparent;
            }
        }
    }

    .close-icon {
        cursor: pointer;
    }

    .text-title {
        font-weight: 800;
    }

    .input-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }

    .green-link {
        font-weight: 600;
        text-decoration: underline;
        color: $mainActiveColor;
        cursor: pointer;
    }

    input {
        margin: 0 0.5rem;
        padding: 5px;
        height: 35px;
        border-radius: 3px;
        border: solid 1px $lightColoredBorderColor;

        &:focus {
            border: solid 1px $mainActiveColor;
        }
    }

    select {
        margin: 0 0.5rem;
        padding: 5px;
        border-radius: 3px;
        border: solid 1px $darkBorderColor;

        &:focus {
            border: solid 1px $mainActiveColor;
        }
    }

    .hint-text {
        font-style: italic;
        color: $hintColor;
        font-size: 14px;
        padding: 0.3rem 1rem;
    }

    .gray-text {
        color: $hintColor;
    }

    ._14px {
        font-size: 14px;
    }

    ._12px {
        font-size: 12px;
    }

    .green-button {
        border-style: none;
        background-color: $secondActiveColor;
        color: $mainDarkColor;
        font-weight: 800;
        border-radius: 2px;
        padding: 0.7rem 1rem;
        min-width: 120px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: $mainActiveColor;
        }
    }

    .dark-button {
        border-style: none;
        background-color: $mainDarkColor;
        color: $white;
        font-weight: 800;
        border-radius: 2px;
        padding: 0.7rem 1rem;
        min-width: 120px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: $mainDarkColorHover;
        }
    }

    .card-section {
        border-bottom: solid 1px $lightColoredBorderColor;
        padding: 0.5rem 0;
    }

    input[type="checkbox"] {
        height: auto;
    }

    #card-for-tagging {
        position: absolute;
        background-color: $white;
    }
}

.react-selector {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    .css-1pahdxg-control {
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    .css-yk16xz-control {
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        .css-1hwfws3 {
            height: 25px;
  
        }
    }



}

.check-container {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover input ~ .checkmark {
      background-color: rgb(247, 247, 247);
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark:after {
          display: block;
        }
      &:checked ~ .checkmark {
          background-color: $secondActiveColor;
          border: none;
  
        }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      border: 1.5px solid $mainActiveColor;
      &:after {
          content: "";
          position: absolute;
          display: none;
        }
      &:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
    }
    
  }