* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700,800,900');
  @import "./variables.scss";


body{
    margin: 0;
    font-family: 'Lato', sans-serif;

    /* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $mainActiveColor; 
  }

  .green-text {
      color: $mainActiveColor;
      font-weight: bold;
  }
    h1 {
        font-size: 18px;
    }
    .tooltip {
        position: relative;
        &:hover .tooltiptext {
            display: inherit;
          }
        .tooltiptext {
            display: none;
            min-width: 120px;
            word-wrap: break-word;
            max-width: 200px;
            background-color: $mainDarkColor;
            color: $white;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 150%;
            left: 50%;
            margin-left: -60px;
            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent $mainDarkColor transparent;
              }
          }
    }
    .close-icon {
        cursor: pointer;
    }
    .text-title {
        font-weight: 800;
    }
    .input-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    .green-link {
        font-weight: 600;
        text-decoration: underline;
        color: $mainActiveColor;
        cursor: pointer;
    }
    input {
        margin: 0 0.5rem;
        padding: 5px;
        height: 35px;
        border-radius: 3px;
        border: solid 1px $lightColoredBorderColor;
        &:focus {
            border: solid 1px $mainActiveColor;
        }
    }
    select {
        margin: 0 0.5rem;
        padding: 5px;
        border-radius: 3px;
        border: solid 1px $darkBorderColor;
        &:focus {
            border: solid 1px $mainActiveColor;
        }
    }
    .hint-text {
        font-style: italic;
        color: $hintColor;
        font-size: 14px;
        padding: 0.3rem 1rem;
    }
   
    .green-button {
        border-style: none;
        background-color: $secondActiveColor;
        color: $mainDarkColor;
        font-weight: 800;
        border-radius: 2px;
        padding: 0.7rem 1rem;
        min-width: 120px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color: $mainActiveColor;
        }
    }
    .dark-button {
        border-style: none;
        background-color: $mainDarkColor;
        color: $white;
        font-weight: 800;
        border-radius: 2px;
        padding: 0.7rem 1rem;
        min-width: 120px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color: $mainDarkColorHover;
        }
    }
    .card-section {
        border-bottom: solid 1px  ;
        padding: 0.5rem 0;
    }
    input[type="checkbox"] {
        height: auto;
    }
    #card-for-tagging{
        position: absolute;
        background-color: $white;
    }
}