$mainActiveColor: #44CD88;
$secondActiveColor: #AFEA7D;
$thirdActiveColor: #FFC550;
$mainDarkColor: #333333;
$mainDarkColorHover:  rgb(25, 29, 29);
$darkBorderColor:  rgb(153, 153, 153);
$lightBorderColor: rgb(219, 219, 219);
$ligthGray2: #F4F4F4;
$lightColoredBorderColor: #CBE2D7;
$white: white;
$semiWhite: #F9F9F9;
$hintColor: rgb(172, 172, 172);
$boxShadow: rgba(0, 0, 0, 0.05);